<div class="container">
  <h1>Angular Directives</h1>

  <p
    [appStyle]="'red'"
    [dStyles]="{ border: '1px solid blue', borderRadius: '5px' }"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quaerat nisi
  </p>

  <button class="btn" (click)="isVisible = !isVisible">toogle</button>

  <div *appIfnot="!isVisible" class="wrap">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam provident
      incidunt impedit inventore praesentium animi ducimus, cumque nihil
      pariatur adipisci!
    </p>
  </div>
</div>
