<div class="container">
  <h1>Angular Pipes</h1>

  <hr />

  <p>
    {{ e | number: "1.1-5" }}
  </p>
  <p>
    {{ e | number: "3.1-2" }}
  </p>
  <p>
    {{ e | number: "1.0-0" }}
  </p>

  <hr />

  <p>
    {{ str | uppercase }}
  </p>
  <p>
    {{ str | uppercase | lowercase }}
  </p>
  <p>
    {{ str | uppercase | lowercase | titlecase }}
  </p>
  <p>
    {{ str | titlecase | slice: 1:-2 }}
  </p>

  <hr />

  <p>
    {{ date }}
  </p>
  <p>
    {{ date | date }}
  </p>
  <p>
    {{ date | date: "fullDate" }}
  </p>
  <p>
    {{ date | date: "yyyy" }}
  </p>
  <p>
    {{ date | date: "MMMM yyyy" }}
  </p>
  <p>
    {{ date | date: "MMMM dd, yyyy, HH:mm:ss" }}
  </p>

  <hr />

  <p>
    {{ float }}
  </p>
  <p>
    {{ float | currency }}
  </p>
  <p>
    {{ float | percent: "2.0-0" }}
  </p>
</div>
